<h3><b>Categories</b></h3><br><br>
<a ng-click="addClicked()" class="btn btn-primary">Add</a>
<div ng-show="showGrid">
 <h3>Categories</h3>

<form class = "form-horizontal">
<div class="control-group pull-right">
<select >
<option>Search by</option>
</select>
<input type="text text-large" placeholder = "text">
<button class="btn btn-inverse" type="button" class="btn">Search</button>
</div>
 <br/>

<table class="table table-bordered table-hover table-condensed">
<tr>
  <td><b>
    Title</b>
  </td>
  <td><b>
    Parent</b>
  </td>
  <td><b>Type</b></td>
   <td><b>Action</b></td>
</tr>

<tr ng-repeat="c in categories">
<td>{{c.name}}</td>
<td>{{c.title}}</td>
</tr>
</table>


   
  </div>
</div>
</form>
</div>
<div ng-show="!showGrid">
  <form class="form-horizontal">

  <div class="control-group">
    <label class="control-label" for="Name">Name</label>

    <div class="controls">
      <input type="text" id="Name" placeholder="text">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="Description">Description</label>

    <div class="controls">
      <input type="text" id="Description" placeholder="text">
    </div>
  </div>

    <div class="control-group">
      <label class="control-label" for="Parent">Parent</label>
      <div class="controls">
       <select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
  <option>6</option>
  <option>7</option>
</select>
    </div>
    </div>

    
    <div class="control-group">
      <label class="control-label" for="Type">Type</label>
      <div class="controls"><select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
 <label>Type has option as Main/Website</label>
    </div>
</div>
  <div class="control-group">
  <div class="controls">
  <button class="btn btn-success" button-align="center" ng-click="addClicked()">
    Save
  </button>
  <a class="btn btn-danger" button-align="center" ng-click="cancelClicked()">
   Cancel
  </a>
  
  </div>
  </div>
  
  </form>
</div>

