<h3><b>Categories</b></h3>
<form class="form-horizontal">
<div ng-show="showGrid">
  --grid html--
</div ng-show="!showGrid">
<div>
  --form html--
</div>

  <div class="control-group">
    <label class="control-label" for="Name">Name</label>

    <div class="controls">
      <input type="text" id="Name" placeholder="text">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="Description">Description</label>

    <div class="controls">
      <input type="text" id="Description" placeholder="text">
    </div>
  </div>

    <div class="control-group">
      <label class="control-label" for="Parent">Parent</label>
      <div class="controls">
       <select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
    </div>
    </div>

    
    <div class="control-group">
      <label class="control-label" for="Type">Type</label>
      <div class="controls"><select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
 <label>Type has option as Main/Website</label>
    </div>
</div>
  <div class="control-group">
  <div class="controls">
  <button class="btn btn-success" button-align="center">
  	Save
  </button>
  <button class="btn btn-danger" button-align="center">
  	cancel
  </button>
  </div>
  </div>
  </form>
