<div ng-show = "showGrid">
<h3>Course/Series</h3>

<div class="control-group pull-right">
<form class = "form-horizontal">

<select>
<option>Search by</option>
</select>
<input type="text">
<button class = "btn btn-inverse" type = "button">Search</button>
</div>
<div class = "pull-left">
<button class = "btn btn-primary" ng-click = "clickAdd()">Add <i class = "icon-plus"></i></button>
</div>

</form>
<br/>

<table class = "table table-bordered table-hover table-condensed">
<thead>
<tr>
<th>Title</th>
<th>Category</th>
<th>Website</th>
<th>Type</th>
<th>View Count</th>
<th>Rating</th>
<th>Actions</th>
</tr>
</thead>

<tbody>
<tr ng-repeat = "course in courses">
<td>{{course.title}}</td>
<td>{{course.category}}</td>
<td>{{course.website}}</td>
<td>{{course.type}}</td>
<td>{{course.count}}</td>
<td>{{course.rating}}</td>
<td>
<button class = "btn btn-inverse btn-small" ng-click = "clickEdit(course)">Edit</button>
<button class = "btn btn-danger btn-small" ng-click = "clickDelete(course)">Delete</button>
</td>
</tr>
</tbody>

</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">Prev</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
	 <li class="disabled"><a href="#">3</a></li>
	 <li class="disabled"><a href="#">4</a></li>
	 <li class="disabled"><a href="#">5</a></li>
	 <li class="disabled"><a href="#">Next</a></li>
  </ul>
</div>
</div>

<div ng-show = "!showGrid">
<h3> Course/Series </h3>

<form class = "form-horizontal" ng-submit="clickSave()">

<div class = "control-group">
<label class = "control-label" for = "inputId">ID</label>
<div class = "controls">
<input type = "text" id = "inputId" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputTitle">Title</label>
<div class = "controls">
<input type = "text" id="inputTitle" ng-model="course.title" required/>
</div>
</div>


<div class = "control-group">
<label class = "control-label" for = "inputDescription">Description</label>
<div class = "controls">
<input type = "text" id = "inputDescription" ng-required=true>
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCategory">Category</label>
<div class = "controls">
<select ng-model = "course.category">
  <option>Course 1</option>
  <option>Course 2</option>
  <option>Course 3</option>
  <option>Course 4</option>
  <option>Course 5</option>
</select>
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputWebsite">Website</label>
<div class = "controls">
<select ng-model = "course.website">
  <option>Website 1</option>
  <option>Website 2</option>
  <option>Website 3</option>
  <option>Website 4</option>
  <option>Website 5</option>
</select>
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputDuration">Duration</label>
<div class = "controls">
<input type = "text" id = "inputDuration" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputRating">Rating</label>
<div class = "controls">
<input type = "text" id = "inputRating" ng-model = "course.rating" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCount">View Count</label>
<div class = "controls">
<input type = "text" id = "inputCount" ng-model = "course.count" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputURL">URL</label>
<div class = "controls">
<input type = "text" id = "inputURL" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputType">Type</label>
<div class = "controls">
<label class = "radio inline">
<input type = "radio" ng-model = "course.type" name = "optionsRadios" id = "optionsRadios1" value = "Series">
Series
</label>

<label class = "radio inline">
<input type = "radio" ng-model = "course.type" name = "optionsRadios" id = "optionsRadios2" value = "Course">
Course
</label>
</div>
</div>

<div class = "controls">
<p class = "btn-center">
<button class="btn btn-success">Save</button>
<a class = "btn btn-danger" type = "button" ng-click = "clickCancel()">Cancel</a>
</p>
</form>
</div>



<!-- Friends sample -->

<div>
Name: <input type = "text" name = "name" ng-model = "friend.name" />
Lives: <input type = "text" name = "lives" ng-model = "friend.lives" />
<a class="btn" ng-click="editClicked(friend)">Edit</a>
<a class="btn" ng-click="deleteClicked(friend)">Delete</a>

<button type = "button" ng-click = "add()">Save</button>

<ul ng-repeat = "friend in friends">
  <li>
[{{$index + 1}}] {{friend.name}} {{friend.lives}}
</li>
</ul>
</div>