<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="css/bootstrap.min.css"/>


</head>
<body>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Project</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Catagories</a></li>
      <li><a href="#">course/series</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </div>
</div>

<h3><b>Catagories</b></h3>
<br><br><br>
<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="Name">Name</label>

    <div class="controls">
      <input type="text" id="Name" placeholder="text">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="Description">Description</label>

    <div class="controls">
      <input type="text" id="Description" placeholder="text">
    </div>
  </div>

    <div class="control-group">
      <label class="control-label" for="Parent">Parent</label>
      <div class="controls">
       <select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
    </div>
    </div>

    
    <div class="control-group">
      <label class="control-label" for="Type">Type</label>
      <div class="controls"><select >
    <option>Text Goes Here</option>
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
</select>
 <label>Type has option as Main/Website</label>
    </div>
</div>
<br>
  <br>
  <div class="control-group">
  <div class="controls">
  <button class="btn btn-success" button-align="center">
  	Save
  </button>
  <button class="btn btn-danger" button-align="center">
  	cancel
  </button>
  </div>
  </div>
  <br>
  <br>
  <p class="text-error">Note make the menus such that the selected tab looks different as catagories in this case.</p>
  <div class="navbar">
  <div class="navbar-inner">
    <h5 align="cesnter">Copyright @project 2013-14</h5>
   
  </div>
</div>
  </form>

</body>
</html>
