<div ng-show = "showGrid">
<h3> Course/Series </h3>

<form class = "form-horizontal">
<div class = "controls">
<div class = "dropdown">
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
</ul>
</div>
<input type="text text-large" placeholder="text">
<button class = "btn btn-inverse" type = "button">Search</button>
<button type = "button" class = "btn btn-primary" ng-click = "clickAdd()">Add +</button>
</div>
<table class = "table table-striped">
<thead>
<tr>
<th>Title</th>
<th>Category</th>
<th>Website</th>
<th>Type</th>
<th>View Count</th>
<th>Rating</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td>Course 1</td>
<td>Category 1</td>
<td>www.website1.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Course 2</td>
<td>Category 2</td>
<td>www.website2.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Session 1</td>
<td>Category 1</td>
<td>www.website2.com</td>
<td>Session</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Course 3</td>
<td>Category 1</td>
<td>www.website4.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
</tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">Prev</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
	<li class="disabled"><a href="#">3</a></li>
	<li class="disabled"><a href="#">4</a></li>
	<li class="disabled"><a href="#">5</a></li>
	<li class="disabled"><a href="#">Next</a></li>
  </ul>
</div>
</div>

<div ng-show = "!showGrid">
<h3> Course/Series </h3>

<div class = "control-group">
<label class = "control-label" for = "inputTitle">Title</label>
<div class = "controls">
<input type = "text text-large" id = "inputTitle" placeholder = "text">
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputDescription">Description</label>
<div class = "controls">
<input type = "text text-large" id = "inputDescription" placeholder = "text">
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCategory">Category</label>
<div class = "controls">
</button>
<select>
  <option>Course 1</option>
  <option>Course 2</option>
  <option>Course 3</option>
  <option>Course 4</option>
  <option>Course 5</option>
</select>
</div>
</div>


<div class = "control-group">
<label class = "control-label" for = "inputWebsite">Website</label>
<div class = "controls">
</button>
<select>
  <option>Website 1</option>
  <option>Website 2</option>
  <option>Website 3</option>
  <option>Website 4</option>
  <option>Website 5</option>
</select>
</div>
</div>


<div class = "control-group">
<label class = "control-label" for = "inputDuration">Duration</label>
<div class = "controls">
<input type = "text text-large" id = "inputDuration" placeholder = "text">
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputURL">URL</label>
<div class = "controls">
<input type = "text text-large" id = "inputURL" placeholder = "text">
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputType">Type</label>
<div class = "controls">
<label class = "radio inline">
<input type = "radio" name = "optionsRadios" id = "optionsRadios1" value = "option1" checked>
Series
</label>
<label class = "radio inline">
<input type = "radio" name = "optionsRadios" id = "optionsRadios2" value = "option2">
Course
</label>
</div>
</div>

<div class = "controls">
<p class = "btn-center">
<button class = "btn btn-success" type = "button" ng-click = "clickSave()">Save</button>
<button class = "btn btn-danger" type = "button" ng-click = "clickCancel()">Cancel</button>
</p>

</div>
</body>

</div>
