
<h3> Course/Series </h3>

<form class = "form-horizontal">
<div class = "controls">
<div class = "dropdown">
<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
</ul>
</div>
<input type="text text-large" placeholder="text">
<button class = "btn btn-inverse" type = "button">Search</button>
</div>

<table class = "table table-striped">
<thead>
<tr>
<th>Title</th>
<th>Category</th>
<th>Website</th>
<th>Type</th>
<th>View Count</th>
<th>Rating</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
<tr>
<td>Course 1</td>
<td>Category 1</td>
<td>www.website1.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Course 2</td>
<td>Category 2</td>
<td>www.website2.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Session 1</td>
<td>Category 1</td>
<td>www.website2.com</td>
<td>Session</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
<tr>
<td>Course 3</td>
<td>Category 1</td>
<td>www.website4.com</td>
<td>Course</td>
<td>1200</td>
<td>4.9</td>
<td>
<button class = "btn btn-link">[edit]</button>
<button class = "btn btn-link">[delete]</button>
</td>
</tr>
</tbody>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">Prev</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
	<li class="disabled"><a href="#">3</a></li>
	<li class="disabled"><a href="#">4</a></li>
	<li class="disabled"><a href="#">5</a></li>
	<li class="disabled"><a href="#">Next</a></li>
  </ul>
</div>

