
<h4>Hello dear Enter your detail....</h4>
	<div>
		<label for="InputName">Name</label>
		<input type="text" class="form-control" id="InputName" placeholder="Enter name " ng-model = "friend.name" >

	</div>
		<div>
		 <label for="InputPlace">lives</label>
		 <input type="text" class="form-control" id="InputPlace" placeholder="Enter Place" ng-model = "friend.lives" >

		</div>
		<div>
         <a ng-click="Click()" class="btn btn-primary">AddNew</a>
          <ul>
           <li ng-repeat="friend in friends">
             [{{$index + 1}}] {{friend.name}} lives in {{friend.lives}}.
           </li>
          </ul>
          </div>
