
<h3>Categories</h3>

<form class = "form-horizontal">
<div class="control-group">
<select >
<option>Search by</option>
</select>
  <input type="text text-large" placeholder = "text">
  <button class="btn btn-inverse" type="button" class="btn">Search</button>
</div>
 <br/>

<table class="table table-bordered table-hover table-condensed">
<tr>
  <td><b>
    Title</b>
  </td>
  <td><b>
    Parent</b>
  </td>
  <td><b>Type</b></td>
   <td><b>Action</b></td>
</tr>

<tr>
  <td>
    Programming language
  </td>
  <td>
    -
  </td>
  <td>Main</td>
   <td>[edit][delete]</td>
</tr>

<tr>
  <td>
    PHP
  </td>
  <td>
    Programming language
  </td>
  <td>Main</td>
   <td>[edit][delete]</td>
</tr>

<tr>
  <td>
    Udemy
  </td>
  <td>
    -
  </td>
  <td>Website</td>
   <td>[edit][delete]</td>
</tr>
<tr>
  <td>
    Java
  </td>
  <td>
    Programming language
  </td>
  <td>Main</td>
   <td>[edit][delete]</td>
  
</tr>
<tr>
  <td>
  Courseera
  </td>
  <td>
   -
  </td>
  
  <td>Website</td>
   <td>[edit][delete]</td>
  
</tr>
<tr>
  <td>
    Core Java
  </td>
  <td>
    -
  </td>
  
  <td>Website</td>
   <td>[edit][delete]</td>
  
</tr>
</table>

<div class="pagination pagination-centered">
  <ul>
    <li class="disabled"><a href="#">Prev</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
  <li class="disabled"><a href="#">3</a></li>
  <li class="disabled"><a href="#">4</a></li>
  <li class="disabled"><a href="#">5</a></li>
  <li class="disabled"><a href="#">Next</a></li>
  </ul>
</div>
   
  </div>
</div>
</form>