<h3><b>Enter User Detail ......</b></h3><br><br>

<form class="form-horizontal">
<div class="control-group">

	<label for="userInputId" class="control-label"><b>User Id</b></label>
	<input type="text" class="form-control" id="userInputId" placeholder="Enter userId">
	
</div>
<div class="control-group">
      <label for="exampleInputEmail" class="control-label"><b>Email address</b></label>
      <input type="text" class="form-control" id="exampleInputEmail" placeholder="Enter email">
    </div>
    <div class="control-group">
      <label for="exampleInputPassword" class="control-label"><b>Password</b></label>
      <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
    </div>

    <div class="control-group">
      <label for="Inputfname" class="control-label"><b>First Name</b></label>
      <input type="text" class="form-control" id="Inputfname" placeholder="First Name">
    </div>

    <div class="control-group">
      <label for="Inputlname" class="control-label"><b>Last Name</b></label>
      <input type="text" class="form-control" id="Inputlname" placeholder="Last Name">
    </div>
</form>