<h3>Videos</h3>

<form class = "form-horizontal">

<div class = "control-group">
<label class = "control-label" for = "inputId">ID</label>
<div class = "controls">
<input type = "text" id = "inputId" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputTitle">Title</label>
<div class = "controls">
<input type = "text" id = "inputTitle" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputDescription">Description</label>
<div class = "controls">
<input type = "text" id = "inputDescription" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCategory">Category</label>
<div class = "controls">
<select>
<option>Course 1</option>
<option>Course 2</option>
<option>Course 3</option>
<option>Course 4</option>
<option>Course 5</option>
</select>
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputWebsite">Website</label>
<div class = "controls">
<select>
<option>Website 1</option>
<option>Website 2</option>
<option>Website 3</option>
<option>Website 4</option>
<option>Website 5</option>
</select>
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputLength">Length</label>
<div class = "controls">
<input type = "text" id = "inputLength" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputRating">Rating</label>
<div class = "controls">
<input type = "text" id = "inputRating" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCount">View Count</label>
<div class = "controls">
<input type = "text" id = "inputCount" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputURL">URL</label>
<div class = "controls">
<input type = "text" id = "inputURL" placeholder = "text" />
</div>
</div>

<div class = "control-group">
<label class = "control-label" for = "inputCSID">Course/Session ID</label>
<div class = "controls">
<input type = "text" id = "inputCSID" placeholder = "text" />
</div>
</div>

<div class = "controls">
<p class = "btn-center">
<button class = "btn btn-success">Button</button>
</p>
</div>

</form>